/* App.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #000;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
}

.albums-container {
  text-align: center;
  padding: 20px;
}

.albums-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.albums-container .add-albumb {
  margin: 2rem 0;
}

.albums-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.albums-container ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  text-transform: capitalize;
}

.albums-container .album-text {
  flex-grow: 1;
  margin-right: 10px;
}

.albums-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 0 1rem;
}

.albums-container button:hover {
  background-color: #45a049;
}

.albums-container input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 60%;
}

.albums-container button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.albums-container button[type="submit"]:hover {
  background-color: #45a049;
}

/* CSS Loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

